<div class="form-group">
    <label for="name">Titre</label>
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {#<input type="text" id="name" name="name" class="form-control">#}
</div>

<div class="form-group">
    <label for="description">Description</label>
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {#<textarea id="name" name="description" class="form-control"></textarea>#}
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label for="start">Début</label>
            {{ form_errors(form.start) }}
            {{ form_widget(form.start, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="end">Fin</label>
            {{ form_errors(form.end) }}
            {{ form_widget(form.end, {'attr': {'class': 'form-control'}})}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="price">Prix</label>
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="form-group ">
    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Enregistrer
    </button>
</div>
