<header class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/">À propos</a></li>
                    <li><a href="{{ path("pro_users_index") }}">Partenaire</a></li>
                    <li><a href="/">Par région</a></li>
                    <li><a href="/">Stages</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </nav>

            <p class="navbar-right navbar-btn">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a class="btn btn-success" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
        </div>
    </div>
</header>
