<header class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path('about') }}">À propos</a></li>
                    <li><a href="{{ path("pro_users_index") }}">Partenaires</a></li>
                    <li><a href="/" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Par région <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for ville in regions %}
                                <li>
                                    <a href="#">{{ ville.city }} <span class="badge pull-right">{{ ville.1 }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ path('service_list') }}">Services</a></li>
                    <li><a href="/">Stages</a></li>
                    <li><a href="/">Newsletters</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>

            <p class="navbar-right navbar-btn">
                <a href="{{ path('login_page') }}" class="btn btn-success">Connexion</a>
            </p>
        </div>
    </div>
</header>
