<header class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path('about') }}">À propos</a></li>
                    <li><a href="{{ path("pro_member_index") }}">Prestataires</a></li>
                    <li><a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Par région <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for region in regions %}
                                <li>
                                    <a href="#">{{ region.city }} <span class="badge pull-right">{{ region.totalUsers }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ path('category_list') }}">Services</a></li>
                    <li><a href="{{ path('stages_list') }}">Stages</a></li>
                    <li><a href="{{ path('newsletters_index') }}">Newsletters</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
                <ul class="nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a class="" href=""
                               data-toggle="dropdown" id="user"
                               aria-haspopup="true"
                               aria-expanded="true">
                               <img src="/assets/img/uploads/avatars/{{ user.picture }}" class="img--30x30 img-circle" alt="{{ user.username }}">
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}" class="navbar-btn btn-success">Connexion</a>
                        {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="user">
                            <li><a href="{{ path('edit_profile') }}">Profil</a></li>
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
