<div class="background-white p20 mb50">
    {{ form_start(form,
            {'action': path('admin_newsletters_create'),
            'attr': {'class': 'form-vertical'}
        })
    }}
        <div class="form-group">
            {{ form_label(form.title, 'Titre') }} <br>
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.document, 'Document') }} <br>
            {{ form_widget(form.document) }}
            <p class="help-block">Fichier doit être en format PDF</p>
            {{ form_errors(form.document) }}
        </div>
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i>Envoyer</button>
    {{ form_end(form) }}
</div>
