<div class="row">
    <div class="col-lg-8">
        {% if user.comments is empty %}
            <h3>Ajouter un commentaire</h3>
        {% endif %}
        <div id="comments-list">
            {% for comment in user.comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ avatars ~ comment.member.picture }}" class="img-circle img--30x30"
                             alt="{{ comment.member.username }}">
                        <span class="lead" style="vertical-align: middle;">{{ comment.member.username }}</span>
                        <span class="pull-right rating" style="width: calc(20px * {{ comment.rating }});"></span>
                    </div>
                    <div class="panel-body">
                        {{ comment.comment }}
                    </div>
                    {% if app.user is member and app.user is not same as(comment.member) %}
                    <div class="panel-footer">
                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#reportComment-{{ comment.id }}">Signaler</button>
                            {{ render(controller('AppBundle:Member/Comments:report',
                                {'id': comment.id })) }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% if app.user is member %}
    {{ render(controller('AppBundle:Member/Comments:new', {'user': user})) }}
    {% endif %}
</div>
