{% for sale in user.sales %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">
            {% if app.user == user %}
                <a href="{{ path('sale_edit', { 'slug': user.slug, 'id': sale.id }) }}">{{ sale.name }}</a>
            {% else %}
                {{ sale.name }}
            {% endif %}
            </span>
            <span class="pull-right"><a href="{{ path('sales_generate_pdf', {
                    'sale': sale.id,
                    'slug': user.slug
                }) }}">PDF</a></span>
        </div>
        <div class="panel-body">
            {{ sale.description }}
        </div>
    </div>
{% endfor %}
