{% extends 'base.html.twig' %}
{% block title %}Éditer votre profil - {{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ form_start(form, {'attr': {'action': path('member_update'), 'class': 'form-horizontal'}}) }}
                    {% include 'member/partials/_edit-form.html.twig' %}
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Enregistrer</button>
                    </div>
                {{ form_end(form) }}
            </div>

            <div class="col-lg-4">
                {% include 'member/partials/_aside.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script>
        {% if app.user %}
        addNewsletterSubscriber('{{ path('newsletters_subscribe') }}', '{{ app.user.id }}', $('#subscribe'));
        removeNewsletterSubscriber('{{ path('newsletters_unsubscribe') }}', '{{ app.user.id }}', $('#unsubscribe'));
        {% endif %}
    </script>
{% endblock %}
