{% if categories is not empty %}
    {% for category in categories | reverse %}
    {% set image = categories_folder ~ category.image.path ?? 'default-cat.svg' %}
        <div class="card-system">
            <div class="card-system-inner">
                <div class="card-system-image"
                    data-background-image="{{ image }}"
                    style="background-image: url({{ image }});">
                    <a href="{{ path('category_show', {'slug': category.slug}) }}" title="{{ category.name }}">
                    </a>
                </div><!-- /.card-system-image -->

                <div class="card-system-content">
                    <h2><a href="{{ path('category_show', {'slug': category.slug}) }}" title="{{ category.name }}">{{ category.name }}</a></h2>
                    <h3>{{ category.description }}</h3>
                    <a href="{{ path('admin_categories_update', {'id': category.id}) }}" class="btn btn-info btn-xs">Editer</a>
                    <a href="{{ path('admin_categories_destroy', {'id': category.id}) }}" class="btn btn-danger btn-xs">Supprimer</a>
                    {% if not category.isActive %}
                    <a href="{{ path('admin_categories_approve', {'id': category.id}) }}" class="btn btn-success btn-xs">Approuver</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
