{% extends 'base.html.twig' %}
{% block title 'Édition du profil' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dropzone.min.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/css/select2-bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <p class="text-right">
                <a href="{{ path('user_delete') }}" class="btn btn-danger">Supprimer</a>
                <a href="{{ path('user_profile', {'slug': user.slug}) }}" class="btn btn-default">Afficher profil</a>
            </p>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(form, {'action': path('pro_member_update'),'attr': {'class': 'form-vertical'}}) }}
                        <div class="form-group">
                            {{ form_label(form.email, "Adresse Email") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                                    </span>
                                    {{ form_widget(form.email, {'attr': {
                                        'class': 'form-control',
                                        'value': user.email
                                    }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, 'Nouveau mot de passe') }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, 'Confirmez le mot de passe') }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"
                                                                       aria-hidden="true"></i></span>
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, 'Déscription') }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"
                                                                       aria-hidden="true"></i></span>
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, {
                                        'attr': {'class': 'form-control'},
                                        'value': user.description
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.categories, 'Catégories de service') }}
                            {{ form_errors(form.categories) }}
                            {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.picture, 'Avatar') }}
                            <img src="/assets/img/uploads/avatars/{{ user.picture }}" alt="{{ user.username }}"
                                 class="pull-right img-circle img--100x100">
                            {{ form_widget(form.picture) }}
                            <p class="help-block">Choisissez votre avatar (au format jpg ou png)</p>
                        </div>

                        <h2>Coordonnées</h2>
                        <hr>

                        <div class="form-group">
                            {{ form_label(form.name, "Nom et prénom") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                        </span>
                                    {{ form_widget(form.name, {
                                        'attr': {
                                            'class': 'form-control',
                                            'value': user.name
                                        }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.phone, "Numéro de téléphone") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i>
                                            </span>
                                    {{ form_widget(form.phone, {
                                        'attr': {
                                            'class': 'form-control',
                                            'value': user.phone
                                        }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.street, "Rue et numéro") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                                            </span>
                                    {{ form_widget(form.street, {
                                        'attr': {
                                            'class': 'form-control',
                                            'value': user.street
                                        }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    {{ form_label(form.zip, "Code Postal") }}
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                                                </span>
                                            {{ form_widget(form.zip, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'value': user.zip
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    {{ form_label(form.city, "Ville") }}
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                            </span>
                                            {{ form_widget(form.city, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'value': user.city
                                                }}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            {{ form_label(form.tva, "Numéro de TVA") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                            </span>
                                    {{ form_widget(form.tva, {
                                        'attr': {
                                            'class': 'form-control',
                                            'value': user.tva
                                        }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Enregistrer
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="position: relative;">
                            <h3 class="panel-title">Stages</h3>
                            <a href="{{ path('stage_new', {'slug': user.slug}) }}" class="btn btn-success"
                               style="position: absolute; right: -10px; top: -10px;">+</a>
                        </div>
                        <ul class="list-group">
                            {% for stage in user.workshops %}
                                <li class="list-group-item">{{ stage.name }}</li>
                            {% endfor %}
                        </ul>
                        <div class="panel-footer"><a href="{{ path('stage_index', {'slug': user.slug}) }}">Plus...</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" style="position: relative;">
                            <h3 class="panel-title">Promotions</h3>
                            <a href="{{ path('sales_new', {'slug': user.slug}) }}" class="btn btn-success"
                               style="position: absolute; right: -10px; top: -10px;">+</a>
                        </div>
                        <ul class="list-group">
                            {% for sale in user.sales %}
                                <li class="list-group-item">{{ sale.name }}</li>
                            {% endfor %}
                        </ul>
                        <div class="panel-footer"><a href="{{ path('sales_index', {'slug': user.slug}) }}">Plus...</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Images</h3>
                        </div>
                        <div class="panel-body">
                            {{ render(controller('AppBundle:ProMember/Slider:index')) }}
                            {{ render(controller('AppBundle:ProMember/Slider:new')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        Dropzone.options.sliderImages = {
            paramName: 'images',
            url: '{{ path('slider_new') }}',
            acceptedFiles: 'image/jpeg, image/png',
            dictDefaultMessage: 'Glissez vos images ici'
        };
        $( '.slider-image' ).on( 'click', function ( e ) {
            e.preventDefault();
            var id = $( this ).attr( 'id' );
            var url = '/slider/' + id + '/destroy';
            var self = $( this );
            $.ajax( url )
                    .done( function () {
                        self.animate( {
                            opacity: 0
                        }, 300, function () {
                            self.remove();
                        } );
                    } );
        } );

        {% for category in user.categories %}
        $.each( $( 'option' ), function ( index, el ) {
            el = $( el );
            el.attr( 'selected', function () {
                if ( '{{ category.id }}' === el.val() )
                    return 'selected';
            } )
        } );
        {% endfor %}

        $( '#pro_member_edit_categories' ).select2( {
            language: 'fr',
            placeholder: 'Sélectionnez votre catégorie',
            theme: 'bootstrap'
        } );

    </script>
{% endblock %}
