{% extends 'base.html.twig' %}
{% block title 'Édition du profil' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dropzone.min.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/css/select2-bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <p class="text-right">
                <a href="{{ path('pro_user_profile', {'slug': user.slug}) }}" class="btn btn-default">Afficher
                    profil</a>
            </p>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(form, {'action': path('pro_member_update'),'attr': {'class': 'form-vertical'}}) }}
                        {% include 'pro_member/partials/_edit-form.html.twig' %}
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Enregistrer
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="position: relative;">
                            <h3 class="panel-title">Stages</h3>
                            <a href="{{ path('stage_new', {'slug': user.slug}) }}" class="btn btn-success"
                               style="position: absolute; right: -10px; top: -10px;">+</a>
                        </div>
                        <ul class="list-group">
                            {% for stage in user.workshops %}
                                <li class="list-group-item">{{ stage.name }}</li>
                            {% endfor %}
                        </ul>
                        <div class="panel-footer"><a href="{{ path('stage_index', {'slug': user.slug}) }}">Plus...</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" style="position: relative;">
                            <h3 class="panel-title">Promotions</h3>
                            <a href="{{ path('sales_new', {'slug': user.slug}) }}" class="btn btn-success"
                               style="position: absolute; right: -10px; top: -10px;">+</a>
                        </div>
                        <ul class="list-group">
                            {% for sale in user.sales %}
                                <li class="list-group-item">{{ sale.name }}</li>
                            {% endfor %}
                        </ul>
                        <div class="panel-footer"><a href="{{ path('sales_index', {'slug': user.slug}) }}">Plus...</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Images</h3>
                        </div>
                        <div class="panel-body">
                            {{ render(controller('AppBundle:ProMember/Slider:index')) }}
                            {{ render(controller('AppBundle:ProMember/Slider:new')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        Dropzone.options.sliderImages = {
            paramName: 'slider[path]',
            url: '{{ path('slider_create') }}',
            acceptedFiles: 'image/jpeg, image/png',
            dictDefaultMessage: 'Glissez vos images ici'
        };
        $ ('.slider-image').on ('click', function ( e ) {
            e.preventDefault ();
            var id   = $ (this).attr ('id');
            var url  = '/slider/' + id + '/destroy';
            var self = $ (this);
            $.ajax (url)
                    .done (function () {
                        self.animate ({
                            opacity: 0
                        }, 300, function () {
                            self.remove ();
                        });
                    });
        });

        $('#catSubmit').on('submit', function ( event ) {
            event.preventDefault();
        });

        {% for category in user.categories %}
        $.each ($ ('option'), function ( index, el ) {
            el = $ (el);
            el.attr ('selected', function () {
                if ( '{{ category.id }}' === el.val () )
                    return 'selected';
            })
        });
        {% endfor %}

        $ ('#pro_member_categories').select2 ({
            language: 'fr',
            placeholder: 'Sélectionnez votre catégorie',
            theme: 'bootstrap'
        });
        var cities = [];
        $.getJSON ('{{ asset('assets/js/cities.json') }}')
                .done (function ( data ) {
                    findCity (data)
                });

        //Recherche de la ville sur base de la valeur du champ "Ville"
        var findCity = function ( cities ) {
            var zipInput  = $('#pro_member_zip');
            var cityInput = $('#pro_member_city');
            var options;
            var zip       = parseInt (zipInput.val ());
            var pattern   = RegExp ('^' + zip + '\d*', 'g');

            //Insertion du résultat après un rechargement de la page
            if ( zip ) {
                var results = cities.filter (function ( key ) {
                    if ( pattern.test (parseInt (key.zip)) )
                        return key.name;
                });

                results.forEach (function ( key, index ) {
                    options += '<option value="' + key.name + '">' + key.name + '</option>';
                });

                cityInput.html (options);
            }

            zipInput.on ('change', function ( e ) {
                var zip     = parseInt (zipInput.val ());
                var pattern = RegExp ('^' + zip + '\d*', 'g');
                options     = null;

                //Filtrage des ville par le code postal
                var results = cities.filter (function ( key ) {
                    if ( pattern.test (parseInt (key.zip)) )
                        return key.name;
                });

                //Insertion des résultats dans le champ "ville"
                results.forEach (function ( key ) {
                    options += '<option value="' + key.name + '">' + key.name + '</option>';
                });
                cityInput.empty ().html (options);
            });
        };
    </script>
{% endblock %}
