    <div class="col-lg-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="lead">
                {% if app.user == user %}
                    <a href="{{ path('stage_edit', {'slug': user.slug, 'id': stage.id}) }}">{{ stage.name }}</a>
                {% else %}
                    {{ stage.name }}
                {% endif %}
                </span>
                <span class="pull-right">{{ stage.price }}€</span>
            </div>
            <div class="panel-body">
                <p>{{ stage.description }}</p>
            </div>
            <div class="panel-footer">
                {% if date(stage.displayFrom) <= date() and date(stage.displayUntil) >= date() %}
                    <span class="small">Début: {{ stage.start|date("d/m/Y à h:m") }}</span>
                    <span class="pull-right small">Fin: {{ stage.end|date("d/m/Y à h:m") }}</span>
                {% else %}
                    <span class="small label label-info">Términé</span>
                {% endif %}
            </div>
        </div>
    </div>
